.neomorhpic{
	border-radius: 13px;
	background: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
	box-shadow:  9px 9px 20px var(--primary-color), -9px -9px 20px var(--secondary-color);
}
.neomorhpic-active{
	border-radius: 13px;
	background: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
	box-shadow:  9px 9px 20px var(--primary-color), -9px -9px 20px var(--secondary-color);
}